.input-item
  margin: 0 10px; 
  .form-group
    display: flex;
    height: 2.5em;
    line-height: 2.5em;
    margin: 15px 0;
    .control-label
      flex: 0 100px;
      text-align: center;
    .control-input
      flex: 1;
      outline: none;
      border-bottom: 1px solid #D8D8D8;
      text-indent: 8px;
      padding: 0 8px;

.normal-list
  .row
    height: 3em;
    line-height: 3em;
    border-bottom: 1px solid #D8D8D8;
    padding: 0 1em;
    // .normal-label
    .normal-value
      float: right;
      font-size: 14px;
      color: #06a4b7;
      // margin-right: 0.7em;
    .arrow
      // width: 2.5em;
      height: 3em;
      line-height: 3em;
      text-align: center;
      float: right;
      color: #b3aaaa;
      margin-left: 0.5em;
    &:last-child
      border-bottom: none;

.btn
  width: 100%;
  outline: none;
.btn-login
  background-color: #EE7968;
  color: #ffffff;
  height: 3em;
  font-size: 16px;
  margin: 10px 0;
  &.disabled
    background-color: rgba(238, 121, 104, 0.53);